{% extends "_site.html" %}

{% block content %}
  <div class="container-fluid h-100">
    <div class="row justify-content-md-center align-items-center h-100">
      <div class="col-md-auto">
        <h1 class="display-1">410</h1>
        <h2 class="display-4">IT IS GONE :O</h2>
        <hr/>
        <small class="text-primary">If you were trying to access your thanks page and ended up here it's probably because your session cookies have been deleted by your browser... sorry XD</small>
      </div>
    </div>
  </div>
{% endblock %}
