{% extends "_site.html" %}

{% block content %}
  <!-- DEBUG: include novalidate for the purpose of testing server-side validation -->
  <!-- TODO: PRODUCTION_ALERT: remove novalidate -->
  <form action="" method="POST" novalidate>
    <!-- Security considerations: Include the form's hidden tags to enable the CSRF protection by including the token in a hidden field -->
    {{ form.hidden_tag() }}
    <div class="form-row">
      <div class="form-group col-md-6">{{ form.email.label }} {{ form.email(size=32, class_='form-control') }}</div>
      <div class="form-group col-md-6">{{ form.password.label }} {{ form.password(size=32, class_='form-control') }}</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">{{ form.forename.label }} {{ form.forename(size=32, class_='form-control') }}</div>
      <div class="form-group col-md-6">{{ form.surname.label }} {{ form.surname(size=32, class_='form-control') }}</div>
    </div>
    <div class="form-group">{{ form.telephone.label }} {{ form.telephone(size=16, class_='form-control') }}</div>
    <div class="form-row">
      <div class="form-group col-md-6">{{ form.account_number.label }} {{ form.account_number(size=16, class_='form-control') }}</div>
      <div class="form-group col-md-6">{{ form.sort_code.label }} {{ form.sort_code(size=8, class_='form-control') }}</div>
    </div>
    <div class="form-group">{{ form.address.label }} {{ form.address(size=64, class_='form-control') }}</div>
    <div class="form-group">{{ form.postcode.label }} {{ form.postcode(size=8, class_='form-control') }}</div>
    <hr/>
    <!-- Display server-side form validation error messages -->
    {% if form.errors %}
      <ul>
      {% for field, errors in form.errors.items() %}
        <li>{{ form[field].label }} {{ ' '.join(errors) }}</li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No server-side validation error messages.</p>
    {% endif %}
    <!-- Display the submit button -->
    {{ form.submit(class_='btn btn-primary') }}
  </form>
  <!-- Display flashed messages -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% else %}
      <p>No flashed messages.</p>
    {% endif %}
  {% endwith %}
{% endblock %}
