{% extends "_site.html" %}

{% block content %}
  <!-- DEBUG: include novalidate for the purpose of testing server-side validation -->
  <!-- TODO: PRODUCTION_ALERT: remove novalidate -->
  <form action="" method="POST" novalidate>
    <!-- Security considerations: Include the form's hidden tags to enable the CSRF protection by including the token in a hidden field -->
    {{ form.hidden_tag() }}
    <div class="form-row">
      <div class="form-group col-md-2">{{ form.forename.label }}: {{ form.forename(class_='form-control') }}</div>
      <div class="form-group col-md-2">{{ form.surname.label }}: {{ form.surname(class_='form-control') }}</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        {{ form.email.label }}:
        {{ form.email(class_='form-control') }}
        <small id="emailHelp" class="form-text text-muted">GDPR forbids us from sharing your email with anyone else without your explicit permission!</small>
      </div>
      {# <div class="form-group col-md-5">{{ form.password.label }} {{ form.password(class_='form-control') }}</div> #}
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">{{ form.account_number.label }}: {{ form.account_number(class_='form-control') }}</div>
      <div class="form-group col-md-2">{{ form.sort_code.label }}: {{ form.sort_code(class_='form-control') }}</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">{{ form.address.label }}: {{ form.address(class_='form-control') }}</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">{{ form.town.label }}: {{ form.town(class_='form-control') }}</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">{{ form.postcode.label }}: {{ form.postcode(class_='form-control') }}</div>
      <div class="form-group col-md-2">{{ form.telephone.label }}: {{ form.telephone(class_='form-control') }}</div>
    </div>
    <hr/>
    <!-- Display server-side form validation error messages -->
    {% if form.errors %}
      <ul>
      {% for field, errors in form.errors.items() %}
        {% if field == "recaptcha" %}
          <li>reCAPTCHA: {{ ' '.join(errors) }}</li>
        {% else %}
          <li>{{ form[field].label }}: {{ ' '.join(errors) }}</li>
        {% endif %}
      {% endfor %}
      </ul>
    {% else %}
      <p>No server-side validation error messages.</p>
    {% endif %}
    <!-- Display the reCAPTCHA -->
    {{ form.recaptcha }}
    <!-- Display the submit button -->
    {{ form.submit(class_='btn btn-primary') }}
  </form>
  <!-- Display flashed messages -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% else %}
      <p>No flashed messages.</p>
    {% endif %}
  {% endwith %}
{% endblock %}
